@import url('https://use.typekit.net/uzj5ald.css');
/* ___________________________COLOR PALETTE__________________________ */

:root {
  --text: #94a3b8;
  --background: white;
  --green: rgba(179, 209, 109, 1);
  --lightGreen: rgba(179, 209, 109, 0.5);
  --darkGreen: rgba(66, 90, 77, 0.2);
  --darkerGreen: rgba(66, 90, 77, 0.9);
  --accent_0: rgba(50, 85, 164, 0.4);
  --accent_1: rgba(50, 85, 164, 0.1);
  --accent_3: rgba(255, 72, 176, 0.1);
  --accent_2: rgba(61, 85, 136, 0.5);
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 1em;
}
/* ___________________________TYPE + COLOR__________________________ */

.headerText {
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  /* text-transform: uppercase; */
  color: var(--green);
}

button {
  font-family: mr-eaves-modern;
  font-weight: 400;
  border: none;
  width: 7.5em;
  height: 7.5em;
  border-radius: 100%;
  padding: 0.5em;
  font-size: 1em;
}
button:hover {
  background-color: var(--lightGreen);
}
button.selected {
  background-color: var(--green);
}
.instructionsHeader {
  color: var(--darkerGreen);
  font-size: 2em;
  font-weight: bold;
}
.scoreNumber {
}

.scoreboard {
  max-width: 350px;
  font-weight: 400;
}
/* ___________________________GENERAL PAGE STYLING __________________________ */

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* ___________________________SIDEBAR STYLING __________________________ */
.left {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.score {
  display: flex;
  justify-content: space-between;
}
.difficultyLevel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

.instructionsSidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
/* _______________________BODY STYLING (MEMORY CARDS + CONTAINER) __________________________ */
.right {
  margin-left: 4em;
}
.memoryCard {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.cardContainer {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  /* border: 20px solid black; */
}
.scoring {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 10em;
}
