@import url('https://use.typekit.net/uzj5ald.css');
/* ___________________________COLOR PALETTE__________________________ */

:root {
  --text: #94a3b8;
  --background: white;
  --lightPink: #fff4f7;
  --darkPink: #ffacbd;
  --darkerPink: #ff859f;
}

.App {
  display: grid;
  grid-template-columns: 350px 1fr;
  background-color: var(--lightPink);
}

img {
  display: block;
}
/* ___________________________SIDEBAR STYLING __________________________ */

.sidebarHeader {
  color: var(--darkPink);
  font-weight: 700;
  font-size: 2.25em;
  margin-left: 1.2em;
}
.settingsGroup {
  margin-top: 2em;
}
.radioButton {
  background-color: white;
  border: 2.5px solid var(--darkPink);
  height: 2em;
  width: 2em;
  border-radius: 100%;
}
.selected {
  background-color: var(--darkPink);
}
.select {
  font-size: 1.15em;
  display: flex;
  gap: 0.5em;
  margin: 0.5em;
  margin-top: 0.25em;
}

.sidebarDropdown {
  display: flex;
}
.dropdownHeader {
  margin: 0;
}
.dropdownButton {
  background-color: transparent;
  border: none;
  width: 1.5em;
  margin: 0.5em;
  padding: none;
  /* align-items: center; */
}
.left {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.instructionsText {
  margin-left: 2.25em;
  margin-right: 1.75em;
  font-size: 1.15em;
}
/* unvisited link */
a:link {
  color: var(--darkPink);
  font-weight: bold;
}
/* visited link */
a:visited {
  color: var(--darkPink);
}
/* _______________________BODY STYLING (MEMORY CARDS + CONTAINER) __________________________ */
.right {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}
.memoryCard {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.cardContainer {
  grid-row: 2;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  /* border: 20px solid black; */
}
.scoring {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 10em;
}
