@import url('https://use.typekit.net/uzj5ald.css');
/* ___________________________COLOR PALETTE__________________________ */

:root {
  --text: #94a3b8;
  --background: white;
  --lightPink: #fff4f7;
  --darkPink: #ffacbd;

  /* --green: rgba(179, 209, 109, 1);
  --lightestGreen: rgba(179, 209, 109, 0.2);
  --lightGreen: rgba(179, 209, 109, 0.5);
  --darkGreen: rgba(66, 90, 77, 0.2);
  --darkerGreen: rgba(66, 90, 77, 0.9);
  --accent_0: rgba(50, 85, 164, 0.4);
  --accent_1: rgba(50, 85, 164, 0.1);
  --accent_3: rgba(255, 72, 176, 0.1);
  --accent_2: rgba(61, 85, 136, 0.5); */
}

.App {
  display: grid;
  grid-template-columns: 350px 1fr;
  background-color: var(--lightPink);
}

img {
  display: block;
}
/* ___________________________TYPE + COLOR__________________________ */

.dropdownButton {
  background-color: transparent;
  border: none;
  width: 3em;
  padding: none;
  display: flex;
  align-items: center;
}
.sidebarHeader {
  color: var(--darkPink);
  font-weight: 700;
  font-size: 2.25em;
  margin-left: 1.2em;
}

.radioButton {
  background-color: white;
  border: 2.5px solid var(--darkPink);
  height: 2em;
  width: 2em;
  border-radius: 100%;
}
.selected {
  background-color: var(--darkPink);
}
.select {
  font-size: 1.15em;
  display: flex;
  gap: 0.5em;
  margin: 0.5em;
}

/* ___________________________SIDEBAR STYLING __________________________ */
.left {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/* _______________________BODY STYLING (MEMORY CARDS + CONTAINER) __________________________ */
.right {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}
.memoryCard {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.cardContainer {
  grid-row: 2;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  /* border: 20px solid black; */
}
.scoring {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 10em;
}
